// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #141422;
$yellow: #FDB631;
$orange: #DA4167;
$green: #32B796;
$gray: #000000;
$light-gray: #f9efc1;

// #469AE0
// blue#2E4057
